@import "link-cell.css";
@import "logo.css";


table.predictors {
  clear: right;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 2ex
}

thead {
  border: 1px solid;
  background: #dfd
}


table.predictors th, table.predictors td {
  border: 1px dotted;
  padding: 0.25em
}


/**********************************************************************/


tr.rare { 
  background: #ddf
}

td.count {
  text-align: right
}
