A8086
8086
ignore	;.*	
ADC
AAA
AAS
AAD
AAM
ADD
ADDPD
ADDPS
ADDSD
AND
ANDNPD
ANDNPS
ANDPD
ANDPS
ARPL
BOUND
BSF
BSR
BSWAP
BT
BTC
BTR
BTS
CALL
CBW
CWD
CDQ
CWDE
CLC
CLD
CLI
CLTS
CLFLUSH
CMC
CMOVEQ
CMOVLT
CMOVLE
CMOVUNORD
CMOVNEQ
CMOVNLT
CMOVNLE
CMOVORD
CMP
CMPEQPD
CMPLTPD
CMPLEPD
CMPUNORDPD
CMPORDPD
CMPPS
CPEQPS
CPLTPS
CMPLEPS
CMPUNORDPS
CMPEQPS
CMPNLTPS
CMPNLEPS
CMPORDPS
CMPSB
CMPSQ
CMPSD
CMPEQSD
CMPLTSD
CMPLESD
CMPUNORDSD
CMPNEQSD
CMPNLTSD
CMPNLESD
CMPORDSD
CMPSS
CMPEQSS
CMPLTSS
CMPLESS
CMPUNORDSS
CMPNEQSS
CMPNLTSS
CMPNLESS
CMPORDSS
CMPXCHG
CMPXCHG8B
COMISD
COMISS
CPUID
CVTDQ2PD
CVTDQPS
CVTPDDQ
CVTPD2PI
CVTPD2PS
CVTPI2PD
CVTPI2PS
CVTPS2DQ
CVTPS2PD
CVTPS2PI
CVTSD2SI
CVTSD2SS
CVTSI2SD
CVTSI2SS
CVTSS2SD
CVTSS2SI
CVTTPD2DQ
CVTTPD2PI
CVTTPS2DQ
CVTTPS2PI
CVTTSD2SI
CVTTSS2SI
DAA
DAS
DEC
DIV
DIVPD
DIVPS
DIVSD
DIVSS
EMMS
ENTER
F2XM1
FABS
FADD
FADDP
FBLD
FBSTP
FCHS
FCLEX
FNCLEX
FCMOVB
FCMOVE
FCMOVU
FCMOVNB
FCMOVNE
FCMOVNBE
FCMOVNU
FCOM
FCOMP
FCOMPP
FCOMI
FCOMIP
FCOS
FDECSTP
FDISI
FNDISI
FENI
FNENI
FDIV
FDIVR
FDIVP
FDIVRP
FEMMS
FFREE
FFREEP
FIADD
FICOM
FICOMP
FIDIV
FIDIVR
FILD
FIST
FISTP
FIMUL
FINCSTP
FINIT
FNINIT
FISUB
FISUBR
FLD
FLD1
FDL2E
FLDL2T
FLDLG2
FLDLN2
FLDPI
FLDZ
FLDCW
FLDENV
FMUL
FMULP
FNOP
FPATAN
FPTAN
FPREM
FPREM1
FRNDINT
FSAVE
FRSTOR
FSCALE
FSETPM
FSIN
FSINCOS
FSQRT
FST
FSTP
FSTCW
FNSTCW
FSTENV
FSTSW
FNSTSW
FSUB
FSUBP
FSUBR
FSUBRP
FTST
FUCOM
FUCOMP
FUCOMPP
FUCOMI
FUCOMIP
FXAM
FXCH
FXRSTOR
FXSAVE
FXTRACT
FYL2X
FYL2XP1
HLT
IBTS
IDIV
IMUL
IN
INC
INSB
INSW
INSD
INT
INT3
INT1
ICEBP
INTO1
INTO
INVD
INVLPG
IRET
IRETW
IRETD
JCXZ
JECXZ
JMP
LAHF
LAR
LDMXCSR
LDS
LES
LFS
LGS
LSS
LEA
LEAVE
LFENCE
LGDT
LIDT
LLDT
LMSW
LOADALL
LOADALL286
LODSB
LODSW
LODSD
LOOP
LOOPE
LOOPZ
LOOPNE
LOOPNZ
LSL
LTR
MASKMOVDQU
MASKMOVQ
MAXPD
MAXPS
MAXSD
MAXSS
MFENCE
MINPD
MINPS
MINSD
MINSS
MOV
MOVAPD
MOVPD
MOVD
MOVDQ2Q
MOVDQA
MOVDQU
MOVHLPS
MOVHPD
MOVHPS
MOVLHPS
MOVLPD
MOVLPS
MOVMSKPD
MOVMSKPS
MOVNTDQ
MOVNTI
MOVNTPD
MOVNTPS
MOVNTQ
MOVQ
MOVQ2DQ
MOVSB
MOVSQ
MOVSD
MOVSS
MOVSX
MOVZX
MOVUPD
MOVUPS
MUL
MULPD
MULPS
MULSD
MULSS
NEG
NOT
NOP
OR
ORPD
ORPS
OUT
OUTSB
OUTSW
OUTSD
PACKSSDW
PACKSSWB
PACKUSWB
PADDB
PADDW
PADDD
PADDQ
PADDSB
PADDSW
PADDSIW
PADDUSB
PADDUSW
PAND
PANDN
PAUSE
PAVEB
PAVGB
PAVGW
PAVGUSB
PCMPEQB
PCMPEQW
PCMPEQD
PCMPGTB
PCMPGTW
PCMPGTD
PDISTIB
PEXTRW
PF2ID
PF2IW
PFACC
PFADD
PFCMPEQ
PFCMPGE
PFCMPGT
PFMAX
PFMIN
PFMUL
PFNACC
PFPNACC
PFRCP
PFRCPIT1
PFRCPIT2
OFRSQIT1
PFRSQRT
OFSUB
PFSUBR
PI2FD
PINSRW
PMACHRIW
PMADDWD
PMAGW
PMAXSW
PMAXUB
PMINSW
PMINUB
PMOVMSKB
PMULHRWC
PMULHRIW
PMULHRWA
PMULHUW
PMULHW
PMULLW
PMULUDQ
PMVZB
PMVNZB
PMVLZB
PMVGEZB
POP
POPA
POPAW
POPAD
POPF
POPFW
POPFD
POR
PSADBW
PSHUFD
PSHUFHW
PSHUFLW
PSHUFW
PSLLW
PSLLD
PSLLQ
PSLLDQ
PSRAW
PSRAD
PSRLW
PSRLD
PSRLQ
PSRLDQ
PSUBB
PSUBW
PSUBD
PSUBQ
PSUBSB
PSUBSW
PSUBUSB
PSUBUSW
PSUBSIW
PSWAPD
PUNPCK
PUSH
PUSHA
PUSHAD
PUSHAW
PUSHF
PUSHFD
PUSHFW
PXOR
RCL
RCR
RCPPS
RDMSR
RDPMC
RDSHR
RDTSC
RET
RETF
RETN
ROL
ROR
RSDC
RSLDT
RSM
RSQR
RSTS
SAHF
SAL
SAR
SALC
SBB
SCASB
SCASW
SCASD
SET
SFENCE
SGDT
SIDT
SLDT
SHR
SHL
SHLD
SHRD
SHUFPD
SHUFPS
SMI
SMINT
SMSW
SQRTPD
SQRTPS
SQRTSD
SQRTSS
STC
STD
STI
STMXCSR
STOSB
STOSW
STOSD
STR
SUB
SUBPD
SUBPS
SUBSD
SUBSS
SVDC
SVLDT
SVTS
SYSCALL
SYSENTER
SYSEXIT
SYSRET
TEST
UCOMISD
UCOMISS
UD0
UD1
UD2
UMOV
UNPCKHPD
UNPCKHPS
UNPCKLPD
UNPCKLPS
VERR
VERW
WAIT
WBINVD
WRMSR
WRSHR
XADD
XBTS
XCHG
XLATB
XOR
ignore	.
