MODULA2
modula2
STRING	\'([^\']|\'\')*\'
NUM	[0-9]+
module
not
definition
end
implementation
begin
finally
except
import
from
export
qualified
const
type
var
set
of
packedset
pointer
to
procedure
array
function
record
else
return
retry
with
do
if
elsif
then
case
while
repeat
until
loop
exit
for
by
MODULE
NOT
DEFINITION
END
IMPLEMENTATION
BEGIN
FINALLY
EXCEPT
IMPORT2	IMPORT
FROM2	FROM
EXPORT2	EXPORT	
QUALIFIED2	QUALIFIED
CONST2	CONST
TYPE2	TYPE
VAR2	VAR
SET2	SET
OF2	OF
PACKEDSET2	PACKEDSET
POINTER2	POINTER
TO2	TO
PROCEDURE2	PROCEDURE
ARRAY2	ARRAY
FUNCTION2	FUNCTION
RECORD2	RECORD
CASE2	CASE
ELSE2	ELSE
RETURN2	RETURN
RETRY2	RETRY
WITH2	WITH
DO2	DO
IF2	IF
ELSIF2	ELSIF
THEN2	THEN	
WHILE2	WHILE
REPEAT2	REPEAT
UNTIL2	UNTIL
LOOP2	LOOP
EXIT2	EXIT
FOR2	FOR
BY2	BY
IDENT	[a-zA-Z_][a-zA-Z0-9_]* 
PLUS	"+"
MINUS	"-"
TIMES	"*"
DIV	"/"
EQ	"="
LT	"<"
GT	">"
LPAREN	"("
RPAREN	")"
LBRACK	"["
RBRACK	"]"
ASSIGN	":="
DOT	"\."
COMMA	","
SEMIC	";"
HAT	"^"
NEQ	"<>"
LEQ	"<="
GEQ	">=" 