PLSQL
plsql
STATIC
FUNCTION
FOR
DATE
WHERE
AS
FROM
CURRENT
WHEN
THEN
CREATE
OTHERS
CURSOR
REF
IS
DECLARE
EXEC
EXCEPTION
INTEGER
NUMBER
BEGIN
END
OR
LOOP
NULL
OPEN
CLOSE
COMMIT
DELETE
RETURN
ALLOCATE
ROLLBACK
EXIT
SAVEPOINT
FETCH
SELECT
INTO
SET
TYPE
TRANSACTION
GOTO
IF
INSERT
LOCK
TABLE
UPDATE
SQL
ELSIF
ELSE
SQLCODE
SQLERRM
PLUS	"+"
MINUS	"-"
AST	"*"
COMMA	","
DOT	"."
HASH	"#"
ignore	"("
ignore	")"
DIV	"/"
AMP	"&"
VBAR	"|"
HAT	"^"
BANG	"!"
TILDE	"~" 
EQ	"="
LT	"<"
GT	">"
COLON	":"
PERCENT	"%"
SEMICOLON	";"
ignore	" _"
IDENT	[_a-zA-Z\@][_a-zA-Z0-9]* 
STRING	\'([^'\\\n]|\\.)*\'
CHAR	'([^\\']|\\.)'
NUM	[0-9]+
startcommentline	--
