PROLOG
prolog
xor
is
not
integer
float
floor
log
max
min
mod
random
truncate
sort
merge
length
DOLLAR	"\$"
HAT	"^"
AST	"*"
DIV	"/"
LT	"<"
GR	">"
PLUS	"+"
MINUS	"-"
QUEST	"?"
BSLASH	"\\"
AT	"\@"
EQ	"="
COLON	":"
COMMA	","
ANY	"_"
SEMICOLON	";"
VBAR	"|"
IDENT	[a-zA-Z_][a-zA-Z0-9_]*
STRING	\"([^"\\\n]|\\.)*\"
.	'([^'\\\n]|\\.)*'
NUM	[0-9]+
startcommentline	\% 