PYTHON
python
and
del
for
is
raise
assert
elif
from
lambda
return   
break
else
global
not
try
class
except
if
or
while
continue  
exec
import    
pass
yield    
def
finally
in
print
IDENT	[a-zA-Z_][a-zA-Z0-9_]*
STRING	\"([^"\\\n]|\\.)*\"
.	\'([^"\\\n]|\\.)*\'
NUM	[0-9]+
PLUS	"+"
MINUS	"-"
MULT	"*"
EXP	"**"
DIV	"/"
DDIV	"//"
MOD	"%"
LSHIFT	"<<"
RSHIFT	">>"
AMP	"&"
VERT	"|"
HAT	"\^"
TILDE	"~"
LT	"<"
GT	">"
LE	"<="
GE	">="
EQ	"=="
NE	"!="
.	"<>"
ignore	"("
ignore	")"
ignore	"{"
ignore	"}"
ignore	","
ignore	";"
startcommentline	#
