VB
vb
As
Const
Dim
Do
Else
ElseIf
End
For
If
Loop
Next
Open
Print
Private
Static
Step
Sub
To
Then
Until
While
Write
EOF
PLUS	"+"
MINUS	"-"
AST	"*"
COMMA	","
DOT	"."
HASH	"#"
ignore	"("
ignore	")"
DIV	"/"
AMP	"&"
VBAR	"|"
HAT	"^"
BANG	"!"
TILDE	"~" 
EQ	"="
LT	"<"
GT	">"
ignore	" _"
IDENT	[_a-zA-Z\@][_a-zA-Z0-9]* 
STRING	\"([^"\\\n]|\\.)*\"
CHAR	'([^\\']|\\.)'
NUM	[0-9]+
startcommentline	\'.* 