VHDL
vhdl
abs
access
after
alias
all
and
disconnect
downto
else
elseif
end
inout
is
label
library
linkage
literal
package
port
postponed
procedure
process
sra
srl
subtype
then
to
architecture
array
assert
attribute
begin
block
body
bus
case
component
configuration
constant
entity
exit
file
for
function
generate
generic
group
guarded
if
impure
in
inertial
loop
map
mod
nand
new
next
nor
not
null
of
on
open
or
others
out
pure
range
record
register
reject
rem
report
return
rol
ror
select
severity
signal
shared
sla
sll
string
transport
type
unaffected
units
until
use
variable
wait
when
while
with
xnor
xor
IDENT	[a-zA-Z_][a-zA-Z0-9_]*
STRING	\"([^"\\\n]|\\.)*\"
CHAR	'([^\\']|\\.)'
NUM	[0-9]+
EQ	"="
PLUS	"+"
MINUS	"-"
MULT	"*"
DIV	"/"
LT	"<"
GT	">"
COMMA	","
SEMICOLON	";"
startcommentline	\-\- 