*.o
*.os
/*/lib*.a
/analysis-rules.mk
/bicluster
/calc_sober
/cluster_runs
/collect_parmstats
/compute-obs-tru
/compute_nonconst_preds
/config.h
/est_parms
/gather_prior_dist
/gather_prior_truths
/gen-summary
/gen-views
/get_tp_weights
/libanalyze.so
/logreg
/prefilter
/project
/train_utillog
/xmlify-results
