#*
    Cheetah Template File to Generate static-site-info.cc file
*#

\#include <site_t.h>
\#include <unit_t.h>

extern const struct site_t sites[] = {
#for $siteinfo in $readSites($filepath)
	{${siteinfo.FileName, format='string'}, $siteinfo.Line, ${siteinfo.FunctionIdentifier, format='string'}, $siteinfo.CFGNode, ${siteinfo.SchemeCode, format='char'}, { ${siteinfo.Descriptions, format='stringlist'} } },
#end for
	{ 0, 0, 0, 0, 0, { 0, 0 } }
};

extern const unsigned NumSites = sizeof(sites) / sizeof(sites[0]) - 1;
