#*
    Cheetah Template File to Generate static-site-info.xml file
*#
#from readSites import readSites
<?xml version="1.0"?>
<!DOCTYPE static-site-info SYSTEM "static-site-info.dtd">
<static-site-info>
#for $siteinfo in $readSites($filepath)
    <site file=${siteinfo.filepath} line=${siteinfo.lineno} function=${siteinfo.functionname} cfg-node=${siteinfo.cfgnode} scheme=${siteinfo.schemetag, format='scheme'}>
    #for $operand in $siteinfo.description
        <operand source=${operand}/>
    #end for
    </site>
#end for
</static-site-info>
