@import "logo.css";

table.views th {
  text-align: right
}

table.predictors {
  clear: right
}

table.scores {
  border-collapse: collapse;
  height: 12px;
  border: 2px solid silver
}

table.scores td {
  padding-left: 0px;
  padding-right: 0px
}

td.f1 {
  background-color: black
}

td.f2 {
  background-color: red
}

td.f3 {
  background-color: pink
}

td.f4 {
  background-color: white
}
